<%- include("header") -%>
<div class="box" id="heading">
  <h1><%= listTitle %></h1>
</div>

<div class="box">
  <% for( var index = 0; index < newItemsArray.length; index++ ) { %>
  <div class="item">
    <input type="checkbox" />
    <p><%= newItemsArray[index] %></p>
  </div>
  <% } %>

  <form class="item" action="/" method="post">
    <input
      type="text"
      name="newItemText"
      placeholder="New Item"
      autocomplete="off"
      autofocus="on"
    />
    <button type="submit" name="button" value="<%= listTitle %>">+</button>
  </form>
</div>
<%- include("footer") -%>
